<h1>login</h1>
<form style="display:flex; flex-direction:column" method="POST"
action="/auth/login">
   
    <label>Username: <input type= "text" name="Username"/></label>
    <label>Password: <input type= "text" name="Password"/></label>
    <button type="submit" class="btn btn">login</button>
</form>